.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container{
    background-color: white;
    padding: 20px 20px ;
    border-radius: 20px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
#cancel{
    background-color: rgb(255, 177, 177);
}
#cancel:hover{
    background-color: red;
}
#continue{
    background-color: greenyellow;
}
#continue:hover{
    background-color: green;
}