.modal-parent{
    text-align: center;    
}
button{
    background-color: rgb(199, 199, 255);
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}
button:hover{
    background-color: rgb(137, 137, 255);
}
